@import "defaults";


.d3canvas {
    background-color: white;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

text.nvd3.nv-noData {
    fill: #6B6868;
}

.analytics {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-bottom: 8.9em;
    padding-right: 0px;
    float: left;
    background-color: white;
}

#graph {
    height: calc(100% - 255px - 2em);
    position: absolute;
}

.filterContainer{
    padding-top: 0px!important;
}

.editButton{
    box-sizing: content-box!important;
}

.analytics .gui {
    top:220px;
}


.analytics .disabled{
    display: inline;
}

.analytics .highlight {
    padding: 1px;
    margin-top: 2px;
}


.analytics .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.analytics .middle {
    display: table-cell;
    vertical-align: middle;
}

.analytics .inner {
    margin-left: auto;
    margin-right: auto; 
    width: auto;
}


#tmp_download_button, #save, #grid, #download_button, #reset_filters, #reset, #toggle_filters {
    background-color: #333 !important;
    border-color: #444 !important;
    height:32px;
}

#tmp_download_button:hover, #save:hover, #grid:hover, #reset_filters:hover, #reset:hover, #toggle_filters:hover{
    background-color: #48b !important;
    border-color: #aef !important;
}

#reset_filters.disabled, #reset_filters[disabled], fieldset[disabled] #reset_filters{
    color: #999;
}


.xselectdropdown{
    position: absolute !important;
    float: right;
    bottom: -31px !important;
}

#save, #grid, #download_button, #reset{
    top: -43px!important;
}

#save{
    right: 134px!important;
}

#grid{
    right: 260px!important;
}

#download_button, #tmp_download_button{
    right: 40px!important;
}

#reset{
    right: 365px!important;
}

#reset_filters, #toggle_filters{
    position: absolute !important;
    top: -27px !important;
}

#scatterdiv{
    position: relative;
}

#parallelsdiv{
    position: relative;
    margin-top: 27px;
    margin-left: -55px;
}

.w2ui-overlay {
    min-width: 565px!important;
    margin-left: -81px!important;
}

#filterSelectDrop .w2ui-field{
    margin-left: 5px;
}

.parallels .tick text{
    cursor: default!important;
}

#addfilteropen{
    height: 33px;
}

#filterinputgroup .w2ui-field-helper.w2ui-list{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#filtermanager{
    pointer-events: none;
    opacity: 0;
}

#w2ui-overlay.downloadsection{
    margin-left: -18px!important;
}

#custom_download .w2ui-field-helper.w2ui-list{
    height: auto !important;
}

#nodatainfo{
    text-align: center;
    color: grey;
    font-size: 2em;
    font-weight: bold;
    opacity: 0.6;
    bottom: 20px;
    position: absolute;
    width: 100%;
}

.SumoSelect, .SumoUnder {
    width: 160px!important;
}

.xselectdropdown {
    right: 87px!important;
}

#yselectiondropdown{
    margin-left: 4px!important;
    margin-top: -43px!important;
}

.SumoSelect p{
    width: 160px!important;
}

.axisOption label{
    font-weight: normal!important; 
}

#saveRendering{
    margin-top: 7px;
    position: absolute;
    padding: 2px 7px 1px 7px;
    font-size: 20px;
    z-index: 20;
}

#resetZoom{
    margin-top: 45px;
    position: absolute;
    padding: 2px 7px 1px 7px;
    font-size: 20px;
    z-index: 20;
    /*/margin-left: 8px;*/
}

#filterSelectDrop{
    position: absolute;
    margin-top: -40px;
    margin-left: 20px;
    top: 0px;
}

#filterDivContainer{
    position: absolute;
    margin-top: 30px;
    width: 100%;
    padding-right: 10px;
}


#analyticsFilters {
    max-height: 255px;
    overflow-y: scroll;
    overflow-x: none;
}


.w2ui-field-helper input {
    padding-left: 10px!important;
    margin-top: 3px!important;
}

.parameterClose.cross.filterClose{
    position: absolute;
    top: 14px!important;
    right: 3px!important;
    z-index: 20;
}


#resetFilters{
    float: left;
}


#minimizeFilters{
    position: absolute;
    right: 60px;
    font-size: 2em;
    top: 0px;
    cursor: pointer;
    margin-top: -40px;
}





#filterSelectDrop .w2ui-field-helper{
    margin-right: 35px;
}

#filterSelectDrop > .w2ui-field{
    display: inline;
}

#inputAnalyticsAddfilter {
    margin-left: 5px;
    opacity: 0;
    pointer-events: none;
}

#ySettings, #y2Settings, #xSettings{
    box-sizing: content-box!important;
}

#nodataavailable{
    width: 100%;
    top: 40%;
    position: absolute;
    font-size: 1.9em;
    color: #444;
    text-align: center;
}