




.rainbow{
	width: 100%;
	height: 20px;
	margin-top: 15px;
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(left, #96005A 0%, #0000C8 12.5%, #0019FF 25%, #0098FF 37.5%, #2CFF96 50%, #97FF00 62.5%, #FFEA00 75%, #FF6F00 87.5%, #FF0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, top left, top right, color-stop(0%,#96005A), color-stop(12.5%,#0000C8), color-stop(25%,#0019FF), color-stop(37.5%,#0098FF), color-stop(50%,#2CFF96), color-stop(62.5%,#97FF00), color-stop(75%,#FFEA00), color-stop(87.5%,#FF6F00), color-stop(100%,#FF0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #96005A 0%, #0000C8 12.5%, #0019FF 25%, #0098FF 37.5%, #2CFF96 50%, #97FF00 62.5%, #FFEA00 75%, #FF6F00 87.5%, #FF0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #96005A 0%, #0000C8 12.5%, #0019FF 25%, #0098FF 37.5%, #2CFF96 50%, #97FF00 62.5%, #FFEA00 75%, #FF6F00 87.5%, #FF0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #96005A 0%, #0000C8 12.5%, #0019FF 25%, #0098FF 37.5%, #2CFF96 50%, #97FF00 62.5%, #FFEA00 75%, #FF6F00 87.5%, #FF0000 100%); /* IE10+ */
	background: linear-gradient(to right, #96005A 0%, #0000C8 12.5%, #0019FF 25%, #0098FF 37.5%, #2CFF96 50%, #97FF00 62.5%, #FFEA00 75%, #FF6F00 87.5%, #FF0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#0000ff',GradientType=0 ); /* IE6-9 */
}

/*{"index":0,"rgb":[150,0,90]},96005A
{"index":0.125,"rgb":[0,0,200]},0000C8
{"index":0.25,"rgb":[0,25,255]},0019FF
{"index":0.375,"rgb":[0,152,255]},0098FF
{"index":0.5,"rgb":[44,255,150]},2CFF96
{"index":0.625,"rgb":[151,255,0]},97FF00
{"index":0.75,"rgb":[255,234,0]},FFEA00
{"index":0.875,"rgb":[255,111,0]},FF6F00
{"index":1,"rgb":[255,0,0]}FF0000*/


.redblue{
	width: 100%;
	height: 20px;
	margin-top: 15px;
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(left,  #ff0000 0%, #0000ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff0000), color-stop(100%,#0000ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ff0000 0%,#0000ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ff0000 0%,#0000ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ff0000 0%,#0000ff 100%); /* IE10+ */
	background: linear-gradient(to right,  #ff0000 0%,#0000ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#0000ff',GradientType=1 ); /* IE6-9 */
}


.bluered{
	width: 100%;
	height: 20px;
	margin-top: 15px;
	background: #0000ff; /* Old browsers */
	background: -moz-linear-gradient(left,  #0000ff 0%, #ff0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0000ff), color-stop(100%,#ff0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #0000ff 0%,#ff0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #0000ff 0%,#ff0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #0000ff 0%,#ff0000 100%); /* IE10+ */
	background: linear-gradient(to right,  #0000ff 0%,#ff0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
}

.jet{
	width: 100%;
	height: 20px;
	margin-top: 15px;
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(left, #000083 0%, #003CAA 12.5%, #05FFFF 37.5%, #FFFF00 62.5%, #FA0000 87.5%, #800000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, top left, top right, color-stop(0%,#000083), color-stop(12.5%,#003CAA), color-stop(37.5%,#05FFFF), color-stop(62.5%,#FFFF00), color-stop(87.5%,#FA0000), color-stop(100%,#800000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #000083 0%, #003CAA 12.5%, #05FFFF 37.5%, #FFFF00 62.5%, #FA0000 87.5%, #800000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #000083 0%, #003CAA 12.5%, #05FFFF 37.5%, #FFFF00 62.5%, #FA0000 87.5%, #800000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #000083 0%, #003CAA 12.5%, #05FFFF 37.5%, #FFFF00 62.5%, #FA0000 87.5%, #800000 100%); /* IE10+ */
	background: linear-gradient(to right, #000083 0%, #003CAA 12.5%, #05FFFF 37.5%, #FFFF00 62.5%, #FA0000 87.5%, #800000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#0000ff',GradientType=0 ); /* IE6-9 */
}




