@import "defaults";

#timeslider svg.timeslider {
  z-index: $layer-gui;
  position: relative;
  opacity: 1;
  border: 1px solid black;
  height: 7em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
}

.timeslider{
  cursor: ew-resize;
}

.dataset{
	cursor: pointer;
}
