<div class="input-group" id={{id}} style="margin:7px">
    <span class="form-control">
    	{{{name}}}
    </span>
    <span class="input-group-btn">
    	<button class="btn btn-primary" type="button" style="padding-top:0; padding-bottom:0; height:100%; border:0">
    		<i class="fa fa-download"></i> Download
    	</button>
    </span>
</div>

