<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About VirES</h3>
    </div>
    <div class="modal-body modal-body-about">
		
		<p style="font-size:1.2em">VirES Project</p>
			<p>The European Space Agency contributes to information technology developments for satellite data access and analysis. In the technology research project “Virtual Workspaces for Earth Observation Scientists” the Agency focused on the particular characteristics of the Swarm mission. A collaboration of scientists and industry delivered the presented Prototype system.
			Traditionally scientists operate their own computing facilities into which they download the satellite data for performing their specialized tasks. The Prototype demonstrates augmentations and simplifications for this process by providing:
		</p>
		<ul>
			<li style="list-style-type: circle;"> Interactive tools with particularly convenient properties supporting the data selection, visualisation, scientific analysis and documentation</li>
			<li style="list-style-type: circle;"> Services in the cloud which make satellite data access easier and support on-demand generation of derived value-added information</li>
		</ul>
		<p>The included features for Swarm mission data access, visualisation, and analysis are:</p>
		<ul>
			<li style="list-style-type: circle;"> Graphical Web Interface supporting interactive virtual globe and rich analytical toolset</li>
			<li style="list-style-type: circle;"> Plotting Swarm Level 1b data (such as Magnetic field vector, Magnetic field intensity) as a function of (co-)latitude/time</li>
			<li style="list-style-type: circle;"> Visualisation of magnetic field residuals with the possibility of selecting different provided field models and the option of uploading the users own model as spherical harmonics coefficients</li>
			<li style="list-style-type: circle;"> Visualisation of the magnetic field intensity maps (calculated on-the-fly based on selected model, time and altitude)</li>
			<li style="list-style-type: circle;"> Magnetic field intensity difference between two satellites</li>
			<li style="list-style-type: circle;"> Horizontal magnetic field residuals</li>
			<li style="list-style-type: circle;"> Magnetic field gradient maps</li>
			<li style="list-style-type: circle;"> Magnetic field intensity along field lines (Three-dimensional)</li>
			<li style="list-style-type: circle;"> Vector and scalar plots along multiple orbits</li>
		</ul>

		<p>For questions or feedback please feel free to contact <a href="mailto:vires@eox.at">vires@eox.at</a></p>
 
	   	<div class="row" style="margin-top:30px;">
	   		<div class="col-md-3" style="text-align:center;"><img style="width:80%;vertical-align: bottom" src="/images/logos/DTU.png" alt="Technical University of Denmark logo"></div>
	   		<div class="col-md-3" style="text-align:center;"><img style="width:60%;vertical-align: bottom" src="/images/logos/EOX_Logo.png" alt="EOX IT Services GmbH logo"></div>
	   		<div class="col-md-3" style="text-align:center;"><img style="width:50%;vertical-align: bottom" src="/images/logos/GFZ.png" alt="Deutsches GeoForschungsZentrum logo"></div>
	   		<div class="col-md-3" style="text-align:center;"><img style="width:80%;vertical-align: bottom" src="/images/logos/sistema.jpg" alt="SISTEMA Logo"></div>
	   	</div>


	</div>
  </div>
</div>
