<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About </h3>
    </div>
    <div class="modal-body modal-body-about">
		<p style="font-size:1.4em">The Virtual Research Environment</p>
		<p>
			VirES for Swarm is a platform for geomagnetists. It is the visual interface to the <a href="earth.esa.int/swarm" target="_blank">Swarm mission</a> magnetic products officially released by the European Space Agency. It includes tools to study Earth magnetic models, make comparisons with the satellite measurements, and consider solar activity.
		</p>
		<p style="font-size:1.4em">The Data</p>
		<p>
			The complete sets of magnetic vector and scalar data at 1 Hz rate at exact UTC seconds is provided for the A, B, and C Swarm satellites (<a target="_blank" href="http://swarm-wiki.spacecenter.dk/mediawiki-1.21.1/index.php/Level_1b_Product_Definitions">Swarm Level 1b Products MAGX_LR_1B</a>).
		</p>
		<p>The following models of the Earth's magnetic field and its time variation are pre-loaded:</p>
		<ul>
			<li style="list-style-type: circle;"> 
				The Swarm Initial Field Model for 2014 derived from the first year of data from the Swarm satellite trio (<a target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1002/2014GL062659/abstract">SIFM</a>)
			</li>
			<li style="list-style-type: circle;"> 
				The 12th Generation International Geomagnetic Reference Field (<a target="_blank" href="http://earth-planets-space.springeropen.com/articles/10.1186/s40623-015-0228-9">IGRF 12</a>) released in 2015 by the International Association of Geomagnetism and Aeronomy
			</li>
			<li style="list-style-type: circle;"> 
				The CHAOS-5 high resolution geomagnetic field model, derived primarily from Swarm, CHAMP, and Ørsted satellite magnetic data along with ground observatory data (<a target="_blank" href="http://earth-planets-space.springeropen.com/articles/10.1186/s40623-015-0274-3">CHAOS-5</a>)
			</li>
		</ul>
		<p>Users can also work with Custom Models and upload Spherical Harmonic Expansion coefficients (<a target="_blank" href="http://www.spacecenter.dk/files/magnetic-models/CHAOS-5/SHC-Format-Decsription.pdf">SHC file format</a>)</p>
		<p>The global context of space weather is provided in form of:</p>
		<ul>
			<li style="list-style-type: circle;"> 
				The Disturbance storm time index (<a target="_blank" href="https://en.wikipedia.org/wiki/Disturbance_storm_time_index">Dst Index</a>)
			</li>
			<li style="list-style-type: circle;">
				The Disturbances in the horizontal component of earth's magnetic field (<a target="_blank" href="https://en.wikipedia.org/wiki/K-index">planetary Kp Index</a>)
			</li>
		</ul>
		<p style="font-size:1.4em">Questions?</p>
		<p>Have a look at our <a target="_blank" href="/accounts/faq">Frequently asked Questions</a> or for any further questions or feedback feel free to contact <a href="mailto:support@vires.services">support@vires.services</a></p>
		<p style="font-size:1.4em">The Service Providers</p>
		<p>VirES is a service implemented and operated by <a target="_blank" href="//eox.at">EOX</a>, as realization of ideas, specifications and funds of the Earth Observation Directorate of the European Space Agency <a target="_blank" href="http://esa.int">ESA</a>.</p>
 
	   	<div class="row" style="margin-top:30px;">
	   		<div class="col-md-3" style="text-align:center;"><img style="height:32px;vertical-align: center" src="/eoxs_static/workspace/images/logos/EOX_Logo.png" alt="EOX IT Services GmbH logo"></div>
	   		<div class="col-md-3" style="text-align:center;"></div>
	   		<div class="col-md-3" style="text-align:center;"></div>
	   		<div class="col-md-3" style="text-align:center;"><img style="height:80px; margin-top:-22px; vertical-align: center" src="/eoxs_static/workspace/images/logos/esa.png" alt="European Space Agency Logo"></div>
	   	</div>
	</div>
	<div class="text-muted" style="text-align: center; margin-top:-2em;">
		<a style="display:inline; margin-right:5px;" href="/accounts/datatc" target="_blank_">ESA Data Terms</a> | 
		<a style="display:inline; margin-left:5px;" href="/accounts/servicetc" target="_blank_">VirES Service Terms</a>
	</div>
    <p style="text-align:right;margin-right:1em;">Client version: {{ version }}</p>
  </div>
</div>
