<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About VirES</h3>
    </div>
    <div class="modal-body modal-body-about">

    	<div class="row">
	   		<div class="col-md-12" style="text-align:center;"><img style="width:40%;" src="/images/logos/Vires_complete.png" alt="Virtual Workspace for EO Scientists logo"></div>
	   	</div>
		
		<p>&nbsp;</p>
		<p>VirES Project</p>
 
	   	<div class="row">
	   		<div class="col-md-6" style="text-align:center;"><img style="width:80%;" src="/images/logos/DTU.png" alt="Technical University of Denmark logo"></div>
	   		<div class="col-md-6" style="text-align:center;"><img style="width:60%;" src="/images/logos/EOX_Logo.png" alt="EOX IT Services GmbH logo"></div>
	   	</div>

	   	<div class="row">
	   		<div class="col-md-6" style="text-align:center;"><img style="width:40%;" src="/images/logos/GFZ.png" alt="Deutsches GeoForschungsZentrum logo"></div>
	   		<div class="col-md-6" style="text-align:center;"><img style="width:80%;" src="/images/logos/sistema.jpg" alt="SISTEMA Logo"></div>
	   	</div>

	</div>
  </div>
</div>
