<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-gears"></i> Layer Settings</h3>
</div>
<div class="panel-body">
	<div id="parameters">
		<ul style="padding-left:0">
		  <li>
		  	Parameter:
		  	<select id="options"></select>
		  </li>

		  <li>
		  	<textarea rows="1" cols="10" id="range_min" style="resize: none;"></textarea>
		  	<textarea rows="1" cols="10" id="range_max" style="resize: none;"></textarea>
		  </li>
		  
		</ul>

	</div>
    <div id="colorscale">
    	<select id="options"></select>
    	<div id="gradient"></div>
    </div>
</div>
