<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-globe"></i> Layers</h3>
</div>
<div class="panel-body">
    <div id="overlays"></div>
    <div id="sat_selection">
        <div id="boxlabel">
            Multi-satellite Products
        </div>
        <div class="row" id="satcheckcontainer">
          <div class="col-md-3"><label class="checkbox-inline"><input style="top:-2px;position: absolute;" id="alphacheck" type="checkbox" value="">Alpha</label></div>
          <div class="col-md-3"><label class="checkbox-inline"><input style="top:-2px;position: absolute;" id="bravocheck" type="checkbox" value="">Bravo</label></div>
          <div class="col-md-3"><label class="checkbox-inline"><input style="top:-2px;position: absolute;" id="charliecheck" type="checkbox" value="">Charlie</label></div>
          <div class="col-md-3" title="Not spacecraft specific data (derived data)"><label class="checkbox-inline"><input style="top:-2px;position: absolute;" id="nsccheck" type="checkbox" value="">Non S/C</label></div>
        </div>
        <div class="row">
        </div>
        <ul class="sortable ui-sortable" id="containerproductslist"></ul>
    </div>
    <div id="products"></div>
    <div id="baseLayers"></div>
</div>
