
<section id="cover" class="cover active" data-zoom="4" data-longitude="16.37" data-latitude="48.02" data-events="layout:switch:singleview" >
    <span class="close">&#215;</span>
    <small class='scroll'>Scroll ▼</small>
    <h1>Hi there, </h1>
    <p>this is a demonstrator for the Project V-MANIP which stands for Visualization and Manipulation of Multidimensional Data.</p>
    <p>This demonstrator is configured to show all of the capabilities available for visualization and manipulation and is more of a technical demostrator.</p>
    <p>We will go through the available tools and visualizations as a tutorial which can be scrolled through. </p>
    <p>Under the parent website you can find the web client configured for specific use cases where again a banner like this will walk you through the steps. We recommend you to have a look at them too.</p>
    <p>You can always close this banner and play around with the system to get acquanted to it.</p>
    <small class='scroll'>Scroll ▼</small>
</section>
<section data-events="ui:open:layercontrol">
    <span class="close">&#215;</span>
    <h2>Layer Selection</h2>
    <p>Let us first have a look at the available user interface elements (widgets). </p>
    <p>I opened up the <strong>Layer/Product Widget</strong>. You can open and close it at any time by clicking in the navigation bar on the Layers button with the symbol <i class="fa fa-fw fa-globe"></i>.</p>
    <p>The Layer/Product Widget allows activating and deactivating the configured products, which are then visualized in the different viewers.</p>
    <p>You can move the widget to another position by clicking and dragging on its header, give that a try.</p>
    <p>The Widget shows base layers (e.g. Terrain and Blue Marble), overlay layers (e.g. Streets) and product layer.</p>
    <p>It is possible to sort the layers by clicking and dragging on the two triangle symbol.</p>
    <p>Transparency can be set by slider that appears by clicking on the circle icon of the product.</p>
</section>
<section data-events="ui:open:toolselection">
    <span class="close">&#215;</span>
    <h2>Tools</h2>
    <p>On the right i now opened the <strong>Tools</strong> Widget. This widget has Tools for selection, management and Layout separated in three groups</p>
    <p>The <strong>selection</strong> tools are on the upper button group, which are from top to bottom, point, line. polygon and bounding box selection.</p>
    <p>In the middle button group we have the <strong>Download Tool</strong> and the <strong>Selection Manager Tool</strong></p>
    <p>The <strong>Layout</strong> Tools are available at the bottom, these allow setting the client as split screen or quad screen. </p>
    <p>We will go into more detail of each of these components. As with the Layer Widget you can open and close the Tool Widget by clicking on the Tools button with the icon <i class="fa fa-fw fa-wrench"></i>.</p>
</section>
<section data-layers="MSI_IMG_3A" data-time="2013-01-30T00:00:00Z/2013-05-30T23:59:59Z">
    <span class="close">&#215;</span>
    <h2>Time Selection</h2>
    <p>Did you notice the <strong>time slider</strong> at the bottom of the page? We already selected September 29th, 2011 for you.</p>
    <p>Try stretching the time interval at its ends or draw a new one and watch the satellite images adjusting. Only those acquired within the selected interval are displayed.</p>
    <p>Note that only the latest 100 satellite images are shown per tile. Thus when selecting a big time interval you might not see all images available.</p>
    <p>By the way, try the scroll wheel to uncover additional functionality.</p>
</section>
<section data-tl="VirtualGlobeViewer">
    <span class="close">&#215;</span>
    <h2>Virtual Globe</h2>
    <p>Let us have a look at another visulization of the data. This is the <strong>Virtual Globe Viewer</strong>.</p>
    <p>The views can be changed with the 4 bottons displayed in the top left of each of the visualization windows. Each icon represents a visualization method.</p>
    <p><i class="fa fa-picture-o"/> 2D Map Visualization</p>
    <p><i class="fa fa-globe"/> 3D Virtual Globe</p>
    <p><i class="fa fa-inbox"/> Rectangular Box Viewer</p>
    <p><i class="fa fa-bars"/> Slice Viewer</p>
    <p><i class="fa fa-bar-chart-o"/> Analytics Viewer</p>
</section>
<section data-events="layout:switch:splitview">
    <span class="close">&#215;</span>
    <h2>Split View</h2>
    <p>Did you notice the <strong>time slider</strong> at the bottom of the page? We already selected September 29th, 2011 for you.</p>
    <p>Try stretching the time interval at its ends or draw a new one and watch the satellite images adjusting. Only those acquired within the selected interval are displayed.</p>
    <p>Note that only the latest 100 satellite images are shown per tile. Thus when selecting a big time interval you might not see all images available.</p>
    <p>By the way, try the scroll wheel to uncover additional functionality.</p>
</section>
<section data-selection="data/selection_example.json">
    <span class="close">&#215;</span>
    <h2>Selection</h2>
    <p>Using the <strong>Selection Tools</strong> in the Tools Widget you can create different selections.</p>
    <p>For example, i created a bounding box selection on the map right now. By clicking on the Bounding Box selection again, you will delete the current selection.</p>
</section>

<div style="height: 25em;"><!-- FIXME --></div>
