
<section id="cover" class="cover active" data-zoom="4" data-longitude="16.37" data-latitude="48.02" data-events="layout:switch:singleview" >
    <span class="close">&#215;</span>
    <small class='scroll'>Scroll ▼</small>
    <h1>Hi there, </h1>
    <p>here you can see one of the use case applications of the V-MANIP Project. This application demonstrates how comparison between 2D data such as model or satellite data can be achieved through a 2D Difference Image</p>
    <p>This tutorial banner will present to you the available functionality and tools needed to visualize and compare the data.</p>
    <p>We will go through the available tools and visualizations as a tutorial which can be scrolled through. </p>
    <p>Under the parent <a href="http://demo.v-manip.eox.at/validation/">website</a> you can find the the different use case Apps, where again a banner like this will walk you through the steps for different tools. We recommend you to have a look at them too.</p>
    <p>You can always close this banner and play around with the system to get acquanted to it.</p>
    <small class='scroll'>Scroll ▼</small>
</section>
<section data-events="ui:open:layercontrol">
    <span class="close">&#215;</span>
    <h2>Layer Selection</h2>
    <p>Let us first have a look at the available user interface elements (widgets). </p>
    <p>I opened up the <strong>Layer/Product Widget</strong>. You can open and close it at any time by clicking in the navigation bar on the Layers button with the symbol <i class="fa fa-fw fa-globe"></i>.</p>
    <p>The Layer/Product Widget allows activating and deactivating the configured products, which are then visualized in the different viewers.</p>
    <p>You can move the widget to another position by clicking and dragging on its header, give that a try.</p>
    <p>The Widget shows base layers (e.g. Terrain), overlay layers (e.g. Streets) and product layer.</p>
    <p>Transparency can be set by slider that appears by clicking on the circle icon of the product.</p>
</section>
<section data-layers="daily_FSC_PanEuropean_Optical">
    <span class="close">&#215;</span>
    <h2>Time Slider</h2>
    <p>We now activated the daile Fractional Snow Coverage product layer for you, you can activate/deactivate product layers by clicking on the product checkbox in the Layer Selection Widget.</p>
    <p>If you look at the Time Slider at the bottom of the screen, you can now see circles in the color displayed in the Layer Selection Widget.</p>
    <p>Hovering with the mouse over a point will reveal the coverage id and by clicking on it you will automatically zoom to the extent of the coverage.</p>
    <p>In order to compare two products we will need to select a time where both are available, we will do that in the next step.</p>
</section>
<section data-time="2013-12-15T00:00:00Z/2013-12-17T00:00:00Z">
    <span class="close">&#215;</span>
    <p>We selected the time interval for you, as you can see it is the dark grey area added in the Time Slider.</p>
    <p>Now we can see the product visualization one the map. It is a stack of images, with the most recent being on top.</p>
    <p>In order to compare the values at a specific area we will need to open the Analytics Viewer and make a selection.</p>
</section>
<section data-events="ui:open:toolselection">
    <span class="close">&#215;</span>
    <h2>Tools</h2>
    <p>To open the Analytics Viewer we need to activate the Split Window mode. This can be done in the Tools pane.</p>
    <p>We opened it automatically for you but as the Layer Widget you can open and close the Tool Widget by clicking on the Tools button with the icon <i class="fa fa-fw fa-wrench"></i>.</p>
    <p>In the next step we will open the split view mode, this can also be done by clicking on the Split View Button <i class="fa fa-pause"></i> in the Tools panel.</p>
</section>
<section data-events="layout:switch:splitview" data-tr="AnalyticsViewer">
    <span class="close">&#215;</span>
    <h2>Split View</h2>
    <p>Now that we activated the split view, we can see the map on the left and the Rectnagular Box Viewer on the right.</p>
    <p>The views can be changed with the 4 bottons displayed in the top left of each of the visualization windows. Each icon represents a visualization method.</p>
    <p><i class="fa fa-picture-o"/> 2D Map Visualization</p>
    <p><i class="fa fa-globe"/> 3D Virtual Globe</p>
    <p><i class="fa fa-inbox"/> Rectangular Box Viewer</p>
    <p><i class="fa fa-bars"/> Slice Viewer</p>
    <p><i class="fa fa-bar-chart-o"/> Analytics Viewer</p>
    <p>Now that we have selected two products (FSC Pan European) and the time of interest we just need to select an area we are interested to display the difference image. Let me do that for you, keep scrolling</p>
</section>
<section data-selection="data/uc6_data.geojson">
    <span class="close">&#215;</span>
    <h2>Selection</h2>
    <p>As you can see now an area enclosing Austria was selected and in the Analytics Viewer plot you can see a difference image where blue represents a positive change and red a negative change from one coverage to the other.</p>
    <p>You can create other area of interest selections or move the time interval in the time slider to compare other areas or coverages.</p>
    <p>Let me change the selected time interval for you so you can see another example.</p>
</section>
<section data-time="2013-12-17T00:00:00Z/2013-12-19T00:00:00Z">
    <span class="close">&#215;</span>
    <p>As you can see the difference image has changed, this now shows the difference between two different coverages.</p>
    <p>Feel free to play around a little with this web application</p>
</section>
<div style="height: 25em;"><!-- FIXME --></div>
