
<section id="cover" class="cover active" data-zoom="4" data-longitude="16.37" data-latitude="48.02" data-time="2011-09-30T00:00:00Z/2011-09-30T23:59:59Z" data-layers="MSI_IMG_3A" >
    <span class="close">&#215;</span>
    <small class='scroll'>Scroll ▼</small>
    <h1>Hi there, </h1>
    <p>great you find some time to look at <a href="http://eox.at">EOX</a>' entries to the <a href="http://2013.foss4g.org/programme/opening-up-the-map/"><em>Opening up the Map</em></a> challenge of the <a href="http://2013.foss4g.org/">FOSS4G 2013</a>. This map is our contribution to the <em>Best Open Source Software Integration</em> challenge.</p>
    <p>Scroll down to explore the highlights of our map. Note that it is optimized for Chrome particularly the time slider.</p>
    <p>Exclusively Open Source web mapping client &amp; server tools are combined for visualizing satellite image time series.</p>
    <small class='scroll'>Scroll ▼</small>
</section>
<section data-zoom="7" data-longitude="-1.13" data-latitude="52.95" data-time="2011-09-30T00:00:00Z/2011-09-30T23:59:59Z" data-layers="MSI_IMG_3A" data-events="ui:open:layercontrol;ui:open:toolselection">
    <span class="close">&#215;</span>
    <h2>Changing times!</h2>
    <p>Did you notice the <strong>time slider</strong> at the bottom of the page? We already selected September 29th, 2011 for you.</p>
    <p>Try stretching the time interval at its ends or draw a new one and watch the satellite images adjusting. Only those acquired within the selected interval are displayed.</p>
    <p>Note that only the latest 100 satellite images are shown per tile. Thus when selecting a big time interval you might not see all images available.</p>
    <p>By the way, try the scroll wheel to uncover additional functionality.</p>
</section>
<section data-zoom="7" data-longitude="-1.13" data-latitude="52.95" data-time="2011-09-30T12:00:00Z/2011-09-30T23:59:59Z" data-layers="MSI_IMG_3A">
    <span class="close">&#215;</span>
    <h2>Oops!</h2>
    <p>Did you see the images disappear? Don't worry, we simply changed the time selection.</p>
</section>
<section data-zoom="10" data-longitude="-1.13" data-latitude="52.95" data-time="2011-09-30T00:00:00Z/2011-09-30T23:59:59Z" data-layers="MSI_IMG_3A">
    <span class="close">&#215;</span>
    <h2>Let's move on&hellip;</h2>
    <p>Can you see Nottingham, home of the FOSS4G 2013? If you'd like a bit of help, it's right at the center.</p>
</section>
<section data-zoom="10" data-longitude="16.3602" data-latitude="48.21907" data-layers="image2012_browses">
    <span class="close">&#215;</span>
    <h2>Back home</h2>
    <p>If you are interested in getting to know us, we are from Vienna, Austria. Take a look at <a href="http://eox.at">eox.at</a> for more information.</p>
    <p>Why is the time slider gone? We switched layers for you. To get it back, take a look at the layer switcher in the top right.</p>
</section>
<section data-zoom="10" data-longitude="11.40" data-latitude="47.267" data-layers="image2012_browses">
    <span class="close">&#215;</span>
    <h2>Let's go skiing!</h2>
    <p>And if you want to join us in winter, you'll probably find us skiing in the Alps. Maybe Innsbruck.</p>
    <p>Maybe together with the MapBox folks, invited as reward for the <a href="http://www.mapbox.com/tutorial-sherlock/" target="_blank">idea and code snippets we borrowed</a>.</p>
    <p>Interested in how the Alps look like in a Terrain Layer? Switch to the <a href="./terrain.html">Terrain Layer demo</a>.</p>
    <p>Feel free to contact us <a href="http://twitter.com/eox_a">@eox_a</a> or <a href="mailto:office@eox.at">office@eox.at</a>.</p>
</section>
<div style="height: 25em;"><!-- FIXME --></div>
