
<section id="cover" class="cover active" data-zoom="5" data-longitude="13.41" data-latitude="49.52" data-events="layout:switch:singleview" >
    <span class="close">&#215;</span>
    <small class='scroll'>Scroll ▼</small>
    <h1>Hi there, </h1>
    <p>here you can see one of the use case applications of the V-MANIP Project. This application demonstrates how different types of data can be visualized to create an overview of the current weather status based on volumetric, vertical curtain and 2D data which comes from model, satellite and radar sources.</p>
    <p>For the purpose of demonstration let us assume that the current time during the use of the Application is 2013 May 20, 08:00AM</p>
    <p>This tutorial banner will present to you the available functionality and tools needed to visualize and compare the data.</p>
    <p>We will go through the available tools and visualizations as a tutorial which can be scrolled through. </p>
    <p>Under the parent <a href="http://demo.v-manip.eox.at/validation/">website</a> you can find the the different use case Apps, where again a banner like this will walk you through the steps for different tools. We recommend you to have a look at them too.</p>
    <p>You can always close this banner and play around with the system to get acquanted to it.</p>
    <small class='scroll'>Scroll ▼</small>
</section>
<section data-events="ui:open:layercontrol">
    <span class="close">&#215;</span>
    <h2>Layer Selection</h2>
    <p>Let us first have a look at the available user interface elements (widgets). </p>
    <p>I opened up the <strong>Layer/Product Widget</strong>. You can open and close it at any time by clicking in the navigation bar on the Layers button with the symbol <i class="fa fa-fw fa-globe"></i>.</p>
    <p>The Layer/Product Widget allows activating and deactivating the configured products, which are then visualized in the different viewers.</p>
    <p>You can move the widget to another position by clicking and dragging on its header, give that a try.</p>
    <p>The Widget shows base layers (e.g. Terrain), overlay layers (e.g. Streets) and product layer.</p>
    <p>Transparency can be set by slider that appears by clicking on the circle icon of the product.</p>
</section>
<section data-layers="MOD07_Surface_temperature_data;ALARO_Temperature_surface_201305181200_data;AROME_Temperature_surface_201305181200_data">
    <span class="close">&#215;</span>
    <h2>Time Slider</h2>
    <p>We now activated the ALARO and AROME Temperature surface as well as MOD07 Surface temperature product layers for you, you can activate/deactivate product layers by clicking on the product checkbox in the Layer Selection Widget.</p>
    <p>If you look at the Time Slider at the bottom of the screen, you can now see circles in the color displayed in the Layer Selection Widget.</p>
    <p>Hovering with the mouse over a point will reveal the coverage id and by clicking on it you will automatically zoom to the extent of the coverage.</p>
    <p>As you can see we have satellite data available (MOD07) right up to our current time (present), the AROME model also lies in the past as it has only forecast for 32 hours.
        ALARO on the other hand has forecast for 72 hours, so we have 30 hour forecast.</p>
    <p>If we want to have a look at the temporal evolution of temperature on a specific point we can select the time interval we want to look at.</p>
</section>
<section data-time="2013-05-18T23:30:00Z/2013-05-20T06:30:00Z">
    <span class="close">&#215;</span>
    <p>We selected the time interval for you, as you can see it is the dark grey area added in the Time Slider.</p>
    <p>Now we can see the product visualizations on the map.</p>
    <p>In order to compare the values at a specific point we will need to open the Analytics Viewer and make a selection.</p>
</section>
<section data-events="ui:open:toolselection">
    <span class="close">&#215;</span>
    <h2>Tools</h2>
    <p>To open the Analytics Viewer we need to activate the Split Window mode. This can be done in the Tools pane.</p>
    <p>We opened it automatically for you but as the Layer Widget you can open and close the Tool Widget by clicking on the Tools button with the icon <i class="fa fa-fw fa-wrench"></i>.</p>
    <p>In the next step we will open the split view mode, this can also be done by clicking on the Split View Button <i class="fa fa-pause"></i> in the Tools panel.</p>
</section>
<section data-events="layout:switch:splitview" data-tr="AnalyticsViewer">
    <span class="close">&#215;</span>
    <h2>Split View</h2>
    <p>Now that we activated the split view, we can see the map on the left and the Analytics Viewer on the right.</p>
    <p>The views can be changed with the 4 bottons displayed in the top left of each of the visualization windows. Each icon represents a visualization method.</p>
    <p><i class="fa fa-picture-o"/> 2D Map Visualization</p>
    <p><i class="fa fa-globe"/> 3D Virtual Globe</p>
    <p><i class="fa fa-inbox"/> Rectangular Box Viewer</p>
    <p><i class="fa fa-bars"/> Slice Viewer</p>
    <p><i class="fa fa-bar-chart-o"/> Analytics Viewer</p>
    <p>Now that we have selected three products (ALARO and AROME Surface Temperatures well as MOD07 Surface temperature) and the time of interest we just need to select a point we are interested to temporal evolution. Let me do that for you, keep scrolling</p>
</section>
<section data-selection="data/uc1_data.geojson">
    <span class="close">&#215;</span>
    <h2>Selection</h2>
    <p>As you can see now a point was selected and in the Analytics Viewer plot you can see the temporal evolution for both models as well as MOD07 Surface temperature ofthe selected time interval.</p>
    <p>This helps to see how the temperature has changed through time and will change in the future.</p>
    <p>For volumetric data it is also possible to see the values by selecting a time interval where a product is available and making a point selectiong over the area you are interested in.</p>
    <p>To get an idea of the temperature change of an area we can select an area instead of a point.</p>
    <p>In order to see how the temperature will change from the present to the next hour we can select a time interval from 8 to 9 am where the next forecast is available and select the area we want to compare.</p>
</section>
<section data-layers="MOD07_Surface_temperature_data;AROME_Temperature_surface_201305181200_data" data-selection="data/uc3_data.geojson" data-time="2013-05-20T05:45:00Z/2013-05-20T07:15:00Z">
    <span class="close">&#215;</span>
    <p>Now a difference image is shown, where the differences are scaled for visualization, red means a positive change from one to the other, blue means a negative change.</p>
    <p>This helps to see how the temperature will change over an area over the next hour.</p>
    <p>You can try to frag the time interval to see the difference images between forecast.</p>
    <p>As an additional visualization it may also be interesting to be able to look at cloud profiles on a 3D Globe, while at the same time displaying 2D data.</p>
    <p>Let me switch the right window to the virtual globe view by clicking on the <i class="fa fa-globe"/> icon, activate the Cloudsat product and select a new time interval where it is available</p>
    <p>Just keep on scrolling to see the result</p>
</section>
<section data-selection="clear">
    <span class="close">&#215;</span>
    <p>First let us clear the current selection.</p>
</section>
<section data-layers="Cloudsat" data-tr="VirtualGlobeViewer" data-time="2013-05-20T01:30:00Z/2013-05-20T02:15:00Z">
    <span class="close">&#215;</span>
    <p>Now you can see the Cloudsat vertical curtain on the right as well as the 2D ALARO Surface Temperature</p>
    <p>By pressing the middle mouse button you can rotate the view in the virtual globe viewer.</p>
    <p>Additionally it is possible to change the color ramp of the vertical curtains by using the options widget in the navigation bar, you can keep scrolling, we will open it for you.</p>
</section>
<section data-events="ui:open:options">
    <span class="close">&#215;</span>
    <p>Feel free to try the application by closing the tutorial and activating other products and trying out the different visualizations you have seen through the tutorial.</p>
</section>
<div style="height: 25em;"><!-- FIXME --></div>
